# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.class
*.jar
*.war
*.ear
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.env.local

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production
